{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div style="font-size:40px;" >{{theuser}}'s Profile Page<div>
<div style="font-size:20px;" class="text-primary">
{% if message %}
        {{ message }}
{% endif %}
</div>
<div style="font-size:15px;" class="btn btn-primary">{{ peoplefollowing }} <br>Following </div>
<div style="font-size:15px;" class="btn btn-primary">{{ PeopleFollowingUser }} <br>Followers </div>
{% if user == theuser %}
{% else %}

<a href="{% url 'follow' theuser.username %}" class="btn btn-danger">Follow/Unfollow</a>
{% endif %}
<br>
<a href="https://lh3.googleusercontent.com/cL0JTg5e1P5VZH0i8liV9XvDHto0VjweTTXjvAvSowQHvFUDTy3k_6oYP8ZiHJ4bAg-tnBvzEm7ZSgU2sQsuMn9pxFgrUJCJZ1PlEKn-yDclwvGJEmCK2WwgqVH5_5sCKeiY1onj8g=s225-p-k?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/cL0JTg5e1P5VZH0i8liV9XvDHto0VjweTTXjvAvSowQHvFUDTy3k_6oYP8ZiHJ4bAg-tnBvzEm7ZSgU2sQsuMn9pxFgrUJCJZ1PlEKn-yDclwvGJEmCK2WwgqVH5_5sCKeiY1onj8g=s225-p-k" /> </a>
{% for post in page_obj %}

  
    <div id = "thepost_{{post.id}}" class="containerborder"><br>
                 <a href="{% url 'profilepage' post.user %}" style="font-size:30px;">{{post.user}}</a><br>
                 {% if user ==  post.user %}
                 <button class="btn btn-sm btn-outline-primary" onclick=edit(`{{post.id}}`)>Edit</button><br>
                  {% else %}
                 <br>
                 {% endif %}
                  {{post.post_content}}<br>
                  {{post.created}}<br>
                  <button onclick=addlikes(`{{post.id}}`) id="likesbutton_{{post.id}}">{{post.likes.count}}</button> <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART"></i>         
   </div>
   
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>











{% endblock %}

{% block script %}
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}

